<nav class="navbar navbar-default" role="navigation" style="border-bottom: 1px solid black;">
	<div class="container">
		<div class="navbar-header">
			<%= link_to "RoR Training App", root_path, class: "navbar-brand" %>
<!-- 			<#% if user_signed_in? %>
				<%#= link_to "Account", edit_user_registration_path, class: "navbar-brand" %>
				<%#= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: "navbar-brand" %>
			<%# else %> -->
				<!-- <%#= link_to "Sign Up", new_user_registration_path, class: "active navbar-brand" %> -->
				<%#= link_to "Sign In", new_user_session_path, class: "active navbar-brand" %>
			<%# end %>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
<!-- 		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">

			</ul>
			<ul> -->
					<!-- <li><%#= link_to "Create New Scraper", new_scrapper_path, class: "navbar-form navbar-right" %></li> -->
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<br />